/*Font ideas from http://3.7designs.co/blog/2008/06/10-examples-of-beautiful-css-typography-and-how-they-did-it/*/
h1{
  font-size: 51px;
}
h2{
  color: #e88e5d;
  font-style: bold;
  font-family: Georgia,serif;
}
body{
  font-family: Gill Sans, Verdana;
}
p{
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  margin-top: -.5em; color: #666;

}
time{
  color:gray;
  font-size: 10px;
}

/*video{

  overflow:auto;
  clear:both;
}*/
/*canvas{

  overflow: auto;
  float: right;
}*/

.container {
  display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.map {
  float: left;
}

a{

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
/*  font-family: cursive;*/
  color: #e88e5d;
  font-size: 32px;
  background: #eaebd3;
  border: 10px;
  padding: 3px 10px 5px 10px;
  text-decoration: none;

a:hover{
  background: #009dff;
  text-decoration: none;
}
/*http://jsbin.com/ketad/2/embed?html,css,output*/
label {
  display: block;
}

input:not([type=radio]), textarea {
  width: 100%;
}

[name=card-selection] label {
  display: inline-block;
}

